<html>
    <head>
      <title>Play</title>
    <script src="https://code.jquery.com/jquery-3.1.1.min.js"
    integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8="
    crossorigin="anonymous"></script>
    <script src="focus.js" defer></script>
    <link rel="stylesheet" href="focus.pocus.css">
    </head>
<body>
  <div id="focus">
    <div class="focus-header">
      <div class="focus-content">
        <h1>Applause</h1>
        <p>In the age of fake news, how can we find the truth?</p>
      </div>
    </div>
    <div class="focus-node">
      <div class="focus-content">
        <div class="focus-active-content">

        </div>
        <div class="focus-inactive-content">

        </div>
      </div>
    </div>
    <div class="focus-node">
      <div class="focus-content">
        <h2>dynamic content 1</h2>
      </div>
    </div>
    <div class="focus-node">
      <div class="focus-content">
        <h2>dynamic content 2</h2>
      </div>
    </div>
    <div class="focus-node">
      <div class="focus-content">
        <h2>dynamic content 3</h2>
      </div>
    </div>
    <div class="focus-node">
      <div class="focus-content">
        <h2>dynamic content 4</h2>
      </div>
    </div>
    <div class="focus-node">
      <div class="focus-content">
        <h2>dynamic content 5</h2>
      </div>
   </div>
  </div>
  <div id="scrollover">
  </div>
</body>
</html>
