<html>
    <head>
      <title>Play</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.1.1.min.js"
    integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8="
    crossorigin="anonymous"></script>
    <script src="focus.js" defer></script>
    <link rel="stylesheet" href="focus.pocus.css">
    </head>
<body>
  <div id="focus">
    <div class="focus-header">
      <div class="focus-content">
        <p>Uncertainty in the age of fake news. What did Congress applaud?</p>
      </div>
    </div>
    <!-- begin content -->
    <div class="focus-node">
      <div class="focus-content">
        <div class="focus-active-content">
          <h1>{Subject} Statements</h1>
          <blockquote>
             <p>
              And the people turned out by the tens of millions, and they were all united by one very simple, but crucial demand, that America must put its own citizens first ... because only then, can we truly MAKE AMERICA GREAT AGAIN.
            </p>
            </blockquote>
            <div>
              <h3>Score: 85</h3>
              <h4>Average applause duration 64 seconds.</h4>
              <p>
                Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.
              </P>
            </div>
            <img class="sound-img" src="images/soundwav.jpg"/>
        </div>
        <div class="focus-inactive-content">

        </div>
      </div>
    </div>
    <!-- end content -->
    <!-- begin content -->
    <div class="focus-node">
      <div class="focus-content">
        <div class="focus-active-content">
          <h1>{Subject} Statements</h1>
          <blockquote>
             <p>
              And the people turned out by the tens of millions, and they were all united by one very simple, but crucial demand, that America must put its own citizens first ... because only then, can we truly MAKE AMERICA GREAT AGAIN.
            </p>
            </blockquote>
            <div>
              <h3>Score: 85</h3>
              <h4>Average applause duration 64 seconds.</h4>
              <p>
                Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.
              </P>
            </div>
            <img class="sound-img" src="images/soundwav.jpg"/>
        </div>
        <div class="focus-inactive-content">

        </div>
      </div>
    </div>
    <!-- end content -->
    <!-- begin content -->
    <div class="focus-node">
      <div class="focus-content">
        <div class="focus-active-content">
          <h1>{Subject} Statements</h1>
          <blockquote>
             <p>
              And the people turned out by the tens of millions, and they were all united by one very simple, but crucial demand, that America must put its own citizens first ... because only then, can we truly MAKE AMERICA GREAT AGAIN.
            </p>
            </blockquote>
            <div>
              <h3>Score: 85</h3>
              <h4>Average applause duration 64 seconds.</h4>
              <p>
                Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.
              </P>
            </div>
            <img class="sound-img" src="images/soundwav.jpg"/>
        </div>
        <div class="focus-inactive-content">

        </div>
      </div>
    </div>
    <!-- end content -->
    <!-- begin content -->
    <div class="focus-node">
      <div class="focus-content">
        <div class="focus-active-content">
          <h1>{Subject} Statements</h1>
          <blockquote>
             <p>
              And the people turned out by the tens of millions, and they were all united by one very simple, but crucial demand, that America must put its own citizens first ... because only then, can we truly MAKE AMERICA GREAT AGAIN.
            </p>
            </blockquote>
            <div>
              <h3>Score: 85</h3>
              <h4>Average applause duration 64 seconds.</h4>
              <p>
                Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.
              </P>
            </div>
            <img class="sound-img" src="images/soundwav.jpg"/>
        </div>
        <div class="focus-inactive-content">

        </div>
      </div>
    </div>
    <!-- end content -->
    <!-- begin content -->
    <div class="focus-node">
      <div class="focus-content">
        <div class="focus-active-content">
          <h1>{Subject} Statements</h1>
          <blockquote>
             <p>
              And the people turned out by the tens of millions, and they were all united by one very simple, but crucial demand, that America must put its own citizens first ... because only then, can we truly MAKE AMERICA GREAT AGAIN.
            </p>
            </blockquote>
            <div>
              <h3>Score: 85</h3>
              <h4>Average applause duration 64 seconds.</h4>
              <p>
                Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.
              </P>
            </div>
            <img class="sound-img" src="images/soundwav.jpg"/>
        </div>
        <div class="focus-inactive-content">

        </div>
      </div>
    </div>
    <!-- end content -->
    <!-- begin content -->
    <div class="focus-node">
      <div class="focus-content">
        <div class="focus-active-content">
          <h1>{Subject} Statements</h1>
          <blockquote>
             <p>
              And the people turned out by the tens of millions, and they were all united by one very simple, but crucial demand, that America must put its own citizens first ... because only then, can we truly MAKE AMERICA GREAT AGAIN.
            </p>
            </blockquote>
            <div>
              <h3>Score: 85</h3>
              <h4>Average applause duration 64 seconds.</h4>
              <p>
                Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.
              </P>
            </div>
            <img class="sound-img" src="images/soundwav.jpg"/>
        </div>
        <div class="focus-inactive-content">

        </div>
      </div>
    </div>
    <!-- end content -->
   </div>
  </div>
  <div id="scrollover">
  </div>
</body>
</html>
